/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Short+Stack);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* END OF FONT IMPORTS */

/*------ Begin Basic Styling for Site ------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: #daebf1;
}
/*------ Begin Navigation Styling for Site ------*/

/* Basic Styles for nav bar */
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 3px 3px #eeaf49;
}
/* Align Book Dragon to the left */
li {
	float: left;
	font-family: 'Short Stack', cursive;
	font-size: 1.5em;
}

/* Styles all a tags to their default styles */
li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* When NOT clicked */
li a:hover:not(.active){
	color: #2e2925;
	background-color: #95b401;
}

/* When a nav is the current tab */
.active {
	background-color: #95b401;
}

/* Align last button (search) to the right*/
ul li:last-child, li:nth-last-child(2) {
	float: right;
	font-family:'Roboto Condensed', sans-serif;
}



/*------ Begin Modal Window Styling for Interest Form ------*/
#modal1, #modal2, #modal3, #modal4 {
  display: none;
  width: 90%;
  position: fixed;
  z-index: 10;
  min-height: 300px;
  top: 130px;
  left: 5%;
  right: 5%;
  background-color: gray;
  /*border-radius: 5%;*/
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, .5);
}

.exit {
	position: absolute;
	top: 5%;
	left: 95%;
	font: 18px;
	color: white;
	cursor: pointer;
}

#next1, #next2, #next3, #submit {
	position: absolute;
	bottom: 0;
	left: 85%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;
}

#back1, #back2, #back3 {
	position: absolute;
	bottom: 0;
	left: 5%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;	
}

#praise {
	text-align: center;
	color: white;
	font-size: 30px;
}


/* Styles all a tags to their default styles */
li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* When NOT clicked */
li a:hover:not(.active){
	color: #2e2925;
	background-color: #95b401;
}

/* When a nav is the current tab */
.active {
	background-color: #95b401;
}

/* Align last button (search) to the right*/
ul li:last-child, li:nth-last-child(2) {
	float: right;
	font-family:'Roboto Condensed', sans-serif;
}

/*------ Image and Index Styling ------*/
.charlie {
	float: right;
	/*display: inline-block;*/
	width: 80%;
	max-height: 743px;
	/*max-height: 730px;*/
	vertical-align: bottom;
}

#sign-in, #create-account {
	/* Box styling */
	height: 8em;
	position: absolute;
	margin: 0;
	border-radius: 4px;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	/* Colors */
	background: #eeaf49;
	box-shadow: 5px 5px #d34a5c;
	color: #fff;
	font-size: 1em;
	
	
}

#create-account {
	top: 60%;
	left: 20%;
}

#sign-in {
	top: 60%;
	left: 30%;
}

/*------ Begin Navigation Styling for Site ------*/

/* Basic Styles for nav bar */
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 3px 3px #eeaf49;
}

/* Align Book Dragon to the left */
/*li {
	float: left;
}*/

/* Styles all a tags to their default styles */
li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* When NOT clicked */
li a:hover:not(.active){
	color: #2e2925;
	background-color: #b6c555;
}

/* When a nav is the current tab */
.active {
	background-color: #b6c555;
}

/* Align last button (search) to the right*/
ul li:last-child, li:nth-last-child(2) {
	float: right;
}



/*------ Begin Modal Window Styling for Interest Form ------*/
#modal1, #modal2, #modal3, #modal4, #modal5 {
  text-align: center;
  display: none;
  width: 57%;
  position: fixed;
  z-index: 10;
  min-height: 500px;
  top: 155px;
  left: 3%;
  right: 5%;
  background-color: #DAEBF1;
  /* border-radius: 32px; */
  box-shadow: -1px 5px 24px 0 rgba(52, 138, 167, 0.63);
}

h1 {
	font-size: 51px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #aeb64d;
    margin-bottom: 10px;
}

.nextAndBack, button {
	background-color: white;
    border: solid 1px #cccccc;
    color: #b6c555;
    font-family: 'Short Stack', cursive;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F7C574;
  font-family: 'Short Stack', cursive;
}

.exit {
	position: absolute;
	top: 5%;
	left: 95%;
	font: 18px;
	color: white;
	cursor: pointer;
}

#next1, #next2, #next3, #submit {
	position: absolute;
	bottom: 0;
	left: 85%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;
}

#back1, #back2, #back3 {
	position: absolute;
	bottom: 0;
	left: 5%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;	
}

#praise {
	text-align: center;
	color: white;
	font-size: 30px;
}

#suggestions {
	padding: 10%;
	float: left;
	width:50%;
	display: inline-block;
}

#reviews {
	padding: 10%;
	float: right;
	width:30%;
	display: inline-block;
}

input {
	width: 400px;
    height: 88px;
    font-size: 38px;
    font-family: 'Short Stack', cursive;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
	width: 400px;
    height: 88px;
    font-size: 19px;
    font-family: 'Short Stack', cursive;
    color: #F7C574;
}

optgroup {
	font-family: 'Short Stack', cursive;
    color: #F7C574;
}


/*#favorite-books, #book-fun, #favorite-movies-television, #favorite-likes {*/
	/*height: 200px;*/
/*}*/



/*------ End of Modal Window Styling for Interest Form ------*/

