/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Short+Stack);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* END OF FONT IMPORTS */

/*------ Begin Basic Styling for Site ------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: #daebf1;
}

/*------ Begin Navigation Styling for Site ------*/

/* Basic Styles for nav bar */
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #fff;
	/*box-shadow: 3px 3px #d34a5c;*/
}

/* Align Book Dragon to the left */
li {
	float: left;
	font-family: 'Short Stack', cursive;
	font-size: 1.5em;
}

/* Styles all a tags to their default styles */
li a, .create-account {
	display: block;
	color: #333746;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


/* When NOT clicked */
li a:hover, .create-account{
	/*color: #2e2925;*/
	color: #d34a5c;
	/*background-color: #95b401;*/
}

/* Align last button (search) to the right*/
/*ul li:last-child, li:nth-last-child(2), .create-account {
	float: right;
	font-family:'Roboto Condensed', sans-serif;
}*/
/*------------ End Navigation Styling for Site ------------*/

/*------ Begin Modal Window Styling for Interest Form ------*/
#modal1, #modal2, #modal3, #modal4 {
  display: none;
  width: 90%;
  position: fixed;
  z-index: 10;
  min-height: 300px;
  top: 130px;
  left: 5%;
  right: 5%;
  background-color: gray;
  border-radius: 5%;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, .5);
}

.exit {
	position: absolute;
	top: 5%;
	left: 95%;
	font: 18px;
	color: white;
	cursor: pointer;
}

#next1, #next2, #next3, #submit {
	position: absolute;
	bottom: 0;
	left: 85%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;
}

#back1, #back2, #back3 {
	position: absolute;
	bottom: 0;
	left: 5%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;	
}

#praise {
	text-align: center;
	color: white;
	font-size: 30px;
}
/*------ End of Modal Window Styling for Interest Form ------ */

/*------------ Begin Image and Index Styling ------------ */
.charlie {
	float: right;
	/*display: inline-block;*/
	width: 75%;
	max-height: 800px;
	/*max-height: 730px;*/
	vertical-align: bottom;
}

#sign-in, #create-account {
	/* Box styling */
	height: 5em;
	position: absolute;
	margin: 0;
	border: none;
	border-radius: 4px;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	/* Text Styles*/
	font-size: 1.5em;
	text-align: center;
	font-family:'Roboto Condensed', sans-serif;


	/* Colors */
	background: #eeaf49;
	box-shadow: 5px 5px #d34a5c;
	color: #fff;	
}

#sign-in:hover, #create-account:hover {
	color: #d34a5c;
}

#create-account {
	padding: 15px 32px;
	top: 60%;
	left: 20%;
}

#sign-in {
	padding: 15px 60px;
	top: 60%;
	left: 35%;
}
/*------------ End of Image and Index Styling ------------*/

/*------ Begin Modal Window Styling for Interest Form ------*/
#modal1, #modal2, #modal3, #modal4, #modal5 {
  display: none;
  width: 90%;
  position: fixed;
  z-index: 10;
  min-height: 500px;
  top: 130px;
  left: 5%;
  right: 5%;
  background-color: gray;
  border-radius: 5%;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, .5);
}

.exit {
	position: absolute;
	top: 5%;
	left: 95%;
	font: 18px;
	color: white;
	cursor: pointer;
}

#next1, #next2, #next3, #submit {
	position: absolute;
	bottom: 0;
	left: 85%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;
}

#back1, #back2, #back3 {
	position: absolute;
	bottom: 0;
	left: 5%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	cursor: pointer;	
}

#praise {
	text-align: center;
	color: white;
	font-size: 30px;
}

#suggestions {
	padding: 10%;
	float: left;
	width:50%;
	display: inline-block;
}

#reviews {
	padding: 10%;
	float: right;
	width:30%;
	display: inline-block;
}
/*------ End of Modal Window Styling for Interest Form ------*/

/*------------ Start of Styling for Footer ------------*/
.footer {
	position: absolute;
	right: 0px;
	bottom: -7px;
	left: 0px;
	padding: 1rem;
	background-color: #80b46d;
	text-align: center;
	color: #fff;
	font-family: 'Short Stack', cursive;
}
/*------------ End of Styling for Footer ------------*/
